@use "variables" as *;

.btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;

  border: 2px solid transparent;

  text-decoration: none;
  text-align: center;
  color: #5e5e5e;
  font-size: 1.125rem;

  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  transition: transform 0.3s ease;
  
  &:hover {
      transform: scale(1.025);
  }

  &-primary {
    color: $bondiBlue;
    border-color: $bondiBlue;
  }

  &-noborder {
      border: none;
  }
}
