@use "variables" as *;

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-device-width: $breakpointLaptop) {
    flex-direction: row;
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  min-width: 326px;
  max-width: 352px;
  background-color: white;

  border: 1px solid whitesmoke;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 19%) 0px 5px 10px, rgb(0 0 0 / 23%) 0px 6px 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  text-align: center;
  line-height: 1.5;

  &__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.25rem;
  }

  &__title {
    margin-bottom: 0.75rem;
    font-weight: 700;
  }

  &__body {
    margin-bottom: 0.8rem;
  }

  &__footer {
    justify-self: flex-end;
    &__title {
      margin-bottom: 0.5rem;
      color: $bondiBlue;
      font-size: 1.4rem;
    }
    &__paragraph {
      font-style: italic;
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media screen and (min-device-width: $breakpointLaptop) {
    // width: 50vw;
    height: 50vh;

    margin-bottom: 0 !important;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
