@use "variables" as *;

.cards-wrapper {
  margin: auto;

  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  column-gap: 1em;
  row-gap: 2em;

  justify-content: center;
  justify-items: center;
  align-items: stretch;

  @media screen and (min-device-width: $breakpointLaptop) {
    width: 70%;
    column-gap: 2em;
  }

  @media screen and (min-device-width: $breakpointHugeDisplay) {
    width: 60%;
    justify-items: stretch;
  }
}

.card {
  padding: 1.5rem;
  min-width: 326px;
  background-color: white;

  border: 1px solid whitesmoke;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 19%) 0px 5px 10px, rgb(0 0 0 / 23%) 0px 6px 6px;

  display: grid;
  grid-template-rows: 1fr 0.3fr 1fr 1fr;
  justify-content: center;
  align-items: start;

  text-align: center;
  line-height: 1.5;

  &__icon {
    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-bottom: 1.25rem;
  }

  &__title {
    margin-bottom: 0.75rem;
    font-weight: 700;
  }

  &__body {
    margin-bottom: 0.8rem;
  }

  &__footer {
    &__title {
      margin-bottom: 0.5rem;
      color: $bondiBlue;
      font-size: 1.4rem;
    }
    &__paragraph {
      font-style: italic;
    }
  }
}
