@use 'variables' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
}

section {
  padding: 3rem 1rem;
}
.section {
  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;

    font-size: 3rem;
    font-weight: 700;
  }

  &__body {
    font-size: 1.25rem;
  }
}

footer,
.footer {
  padding: 1.5rem 2rem;
  position: relative;

  background-color: $brightGray;

  color: $gray;
  text-align: center;

  &__text {
    line-height: 1.2;
    margin: 0.3rem auto;
  }

  a {
    padding: 0.4rem 0.3rem 0.2rem;
    color: $bondiBlue;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover,
    &:focus {
      color: $brightGray;
      background-color: $sinbadBlue;
      border-radius: 5px;
    }
  }
  .reference {
    color: rgba($bondiBlue, 0.8);
  }
}
