@use 'variables' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
}

section {
  padding: 3rem 1rem;
}
.section {
  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 1rem;

    font-size: 3rem;
    font-weight: 700;
  }

  &__body {
    font-size: 1.25rem;
  }
}
