@use 'variables' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Montserrat,sans-serif;
  font-size: 1rem;
}
