@use "variables" as *;

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border-bottom: 0;
  font-weight: 400;
  color: #272341;
  padding: 0 5.6rem;

  line-height: 1.5;
  padding: 0 1.6rem;

  text-align: center;
  font-weight: 700;

  &__title {
    margin-bottom: 1rem;
    top: 50%;

    font-size: 2.5rem;

    span {
      color: $bondiBlue;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    color: $brightGray;
    font-weight: 600;
  }

  a {
    font-size: 1.25rem;
  }

  &__social-media {
    margin-top: 1rem;

    .social-icon {
      margin: auto 0.3rem;
      width: 2.6rem;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  &__btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__img {
    width: 100%;
  }

  /* #### Tablet Portrait and Landscape #### */
  @media screen and (min-device-width: $breakpointTablet) and (max-device-width: $breakpointLaptop) {
    &__title {
      font-size: 3rem;
      margin-bottom: 0;
    }

    &__btn {
      margin-bottom: 3rem;
    }

    &__img {
      width: 70vw;
    }
  }

  /* #### Laptop #### */
  @media screen and (min-device-width: $breakpointLaptop) {
    flex-direction: row;

    &__text {
      margin-right: -10%;
      text-align: left;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__img {
      top: 0;
      left: 5rem;
      width: 50vw;
      z-index: -1;
    }
  }
}
