// Colors
$gray: hsl(0, 0%, 50%);
$brightGray: hsl(217, 10%, 25%);
$bondiBlue: hsl(183, 100%, 35%);
$sinbadBlue: hsl(173, 37%, 76%);
$kindaGrey: hsl(0, 0%, 93%);
$bananaYellow: hsl(56, 100%, 62%);

// Breakpoint of devices
$breakpointTablet: 768px;
$breakpointLaptop: 1024px;
$breakpointHugeDisplay: 1440px;
